
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Fall Semester</title>
</head>
<body>


    <div class="col-sm-10">
        <div><label> <input icheck type="checkbox" ng-model="main.check2">
            Option one </label></div>
        <div><label> <input icheck type="checkbox" ng-model="main.checkThree">
            Option two checked </label></div>
        <div><label> <input icheck type="checkbox" ng-model="main.checkTwo"
                            disabled> Option three checked and disabled
        </label></div>
        <div><label> <input icheck type="checkbox" ng-model="main.check4"
                            disabled> Option four disabled </label></div>
        <div><label> <input icheck type="radio" name="radioTest"
                            ng-model="main.checkFour"> Option one </label></div>
        <div><label> <input icheck type="radio" name="radioTest"
                            ng-model="main.check8"> Option two checked </label>
        </div>
        <div><label> <input icheck type="radio" name="radioTestNext"
                            ng-model="main.check8" disabled> Option four disabled
        </label></div>
        <div><label> <input icheck type="radio" name="radioTestNext"
                            ng-model="main.check9" disabled> Option three checked
            and disabled</label></div>
    </div>

</body>
