<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

<body class="fullpage" ng-app="collegeList" ng-controller="collegeListCtrl">
<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" ng-click="closeNav()">&times;</a>
    <a href="index.html">Home</a>
    <a href="sophomore_fall.html">Sophomore Year: Fall</a>
    <a href="sophomore_spring.html">Sophomore Year: Spring</a>
    <a href="sophSummer.html">Summer after Sophomore Year</a>
    <a href="junior_fall.html">Junior Year: Fall</a>
    <a href="">Junior Year: Spring</a>
    <a href="juniorSummer.html">Summer after Junior Year</a>
    <a href="">Senior Year: Fall</a>
    <a href="college-list.html">College List</a>
    <a href="tips.html">Tips</a>
</div>
<!-- Use any element to open the sidenav -->
<span ng-click="openNav()"><img src="burger.png"></span>


<div id="main">


    <div class="small-header">
        <h2>College List</h2>
        <div class="inside-header">
            <h6>Draft and edit College List</h6>
        </div>

    </div>



            <div class="border-line" ng-repeat="todo in todos track by $index">
                <span>
                    <input type="checkbox" data-ng-model="todo.done">
                    <span class="done-{{ todo.done }}">{{ todo.text }}</span>
                </span>
            </div>


            <form ng-submit="addTodo()" class="todo-form">
                <input type="text" data-ng-model="todoText" placeholder="Enter new College" />
                <input type="submit" value="+" />
            </form>

             <form data-ng-submit="archive()">
                <input type="submit" value="Remove checked" />
             </form>




</div>
</body>
<script>
    var app = angular.module('collegeList', []);
    app.controller('collegeListCtrl', function($scope) {
        $scope.appTitle = "College List";
        $scope.appHeadline = "Where do you want to spend the next four years of your life?";
        $scope.saved = localStorage.getItem('collegeListtodos');
        $scope.todos = (localStorage.getItem('collegeListtodos')!==null) ? JSON.parse($scope.saved) : [ {text: 'Rochester Institute of Technology', done: false}];
        localStorage.setItem('collegeListtodos', JSON.stringify($scope.todos));

        $scope.addTodo = function() {
            $scope.todos.push({
                text: $scope.todoText,
                done: false
            });
            $scope.todoText = ''; //clear the input after adding
            localStorage.setItem('collegeListtodos', JSON.stringify($scope.todos));
        };
        $scope.archive = function() {
            var oldTodos = $scope.todos;
            $scope.todos = [];
            angular.forEach(oldTodos, function(todo){
                if (!todo.done)
                    $scope.todos.push(todo);
            });
            localStorage.setItem('collegeListtodos', JSON.stringify($scope.todos));
        };

        $scope.openNav= function () {
            document.getElementById("mySidenav").style.width = "250px";
        };

        /* Set the width of the side navigation to 0 */
        $scope.closeNav = function() {
            document.getElementById("mySidenav").style.width = "0";
        }

    });
</script>


<style>
    .button-save {
        background-color: dodgerblue;
        border: 1px solid rgba(0, 0, 0, .1);
        border-radius: 10px;
        color: white;
        padding: 16px 32px;
        text-align: center;
        font-size: 30px;
        margin: 4px 2px;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        cursor: pointer;
        margin-top: 30px;
    }

    .inside-header{
        border: 1px solid rgba(0, 0, 0, .1);
        color: white;
        background-color: rgb(0,127,182);
        font-size: medium;

        padding-top: 5px;
        text-align: center;
        vertical-align: middle;

    }
    .small-header {
        border: 1px solid rgba(0, 0, 0, .1);
        border-radius: 25px;
        color: white;
        background-color: rgb(247,143,30);
        font-size: large;

        padding-top: 10px;
        text-align: center;
        margin-bottom: 15px;
        vertical-align: middle;

    }

    .border-line {
        border: 1px solid rgba(0, 0, 0, .1);
        border-radius: 16px;
        padding: 10px;
        margin-bottom: 10px;

    }
    input[type=checkbox]
    {
        /* Double-sized Checkboxes */
        -ms-transform: scale(2); /* IE */
        -moz-transform: scale(2); /* FF */
        -webkit-transform: scale(2.5); /* Safari and Chrome */
        -o-transform: scale(2); /* Opera */
        padding: 10px;
        margin-right: 10px;

    }

    .border-line:hover {
        background-color: white;
    }
    .fullpage{
        background-color: #ecf0f1;
        font-family: Gill Sans Extrabold, sans-serif;
    }
    /* The side navigation menu */
    .sidenav {
        height: 100%; /* 100% Full-height */
        width: 0; /* 0 width - change this with JavaScript */
        position: fixed; /* Stay in place */
        z-index: 1; /* Stay on top */
        top: 0;
        left: 0;
        background-color: #111; /* Black*/
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 60px; /* Place content 60px from the top */
        transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    }

    /* The navigation menu links */
    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.2s
    }

    /* When you mouse over the navigation links, change their color */
    .sidenav a:hover, .offcanvas a:focus{
        color: #f1f1f1;
    }

    /* Position and style the close button (top right corner) */
    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

    /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
    #main {
        transition: margin-left .5s;
        padding: 20px;
    }

    /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
    @media screen and (max-height: 450px) {
        .sidenav {padding-top: 15px;}
        .sidenav a {font-size: 18px;}
    }

    input[type="submit"] {
        background-color: dodgerblue;
        border: 1px solid rgba(0, 0, 0, .1);
        border-radius: 10px;
        color: white;
        padding: 16px 32px;
        text-align: center;
        font-size: 30px;
        margin: 4px 2px;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        cursor: pointer;
        margin-top: 30px;
    }
    .todo-form {
        padding: 10px;
        text-align: center;

    }

    input[type="text"] {
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
        background-color: #ecf0f1;
        border-top: 0px;
        border-right: 0px;
        border-left: 0px;
        height: 30px;
        width: 100%;
        max-width: 600px;
    }

</style>