<!DOCTYPE html>
<html lang = "en">
<head>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <link rel="stylesheet" href="../css/main.css">
</head>

<body class="fullpage" ng-app="juniorSummer" ng-controller="jSummCtrl">
<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" ng-click="closeNav()">&times;</a>
    <a href="index.html">Home</a>
    <a href="sophomore_fall.html">Sophomore Year: Fall</a>
    <a href="sophomore_spring.html">Sophomore Year: Spring</a>
    <a href="sophSummer.html">Summer after Sophomore Year</a>
    <a href="junior_fall.html">Junior Year: Fall</a>
    <a href="">Junior Year: Spring</a>
    <a href="juniorSummer.html">Summer after Junior Year</a>
    <a href="">Senior Year: Fall</a>
    <a href="college-list.html">College List</a>
    <a href="tips.html">Tips</a>
</div>
<!-- Use any element to open the sidenav -->
<span ng-click="openNav()"><img src="burger.png"></span>

<div id="main">
    <div class="small-header">
        <h2>The lazy, hazy days of summer</h2>
        <div class="inside-header">
            <h6>(Between your junior and senior year)</h6>
        </div>
    </div>

    <!--<form ng-submit="todoAdd()">
        <input type="text" ng-model="todoInput" size="50" placeholder="Add New">
        <input type="submit" value="Add New">
    </form>-->

    <br>

    <div class="border-line" ng-if="saved != null" ng-repeat="x in saved">
        <span ng-if="x.done"> <input  type="checkbox" ng-click="checkboxClick(x)" checked  > <span ng-bind="x.todoText"></span></span>
        <span ng-if="!x.done"> <input  type="checkbox" ng-click="checkboxClick(x)" > <span ng-bind="x.todoText"></span></span>
    </div>

    <div class="border-line" ng-if="saved == null" ng-repeat="x in todoList">
        <span ng-if="x.done"> <input  type="checkbox" ng-click="checkboxClick(x)" checked > <span ng-bind="x.todoText"></span></span>
        <span ng-if="!x.done"> <input  type="checkbox" ng-click="checkboxClick(x)" > <span ng-bind="x.todoText"></span></span>
    </div>


    <p>
        <button class="button-save" ng-click="save()">Save</button>
    </p>





</div>
</body>
</html>
<script>
    var app = angular.module('juniorSummer', []);
    app.controller('jSummCtrl', function($scope) {
        $scope.saved = JSON.parse(localStorage.getItem('juniorSummtodoList'));
        $scope.todoList = [{todoText:'Check out the essay questions on applications for colleges that interest you' +
            '. Think about YOUR college essay and write a rough draft. Getting a jump on this will take some of the stress away ' +
            ' in the fall when you are busy with other things.', done:false},
            {todoText:'Read all the mail and email you get from colleges and reply to the schools that interest you', done:false},
            {todoText:'Review the online application at colleges you are interested in.', done:false},
            {todoText:' Apply now for scholarships with fall deadlines. You probably will be busy when school ' +
            ' starts again, and whatever you can do now will be helpful.', done:false}
            ];



        $scope.remove = function() {
            var oldList = $scope.todoList;
            $scope.todoList = [];
            angular.forEach(oldList, function(x) {
                if (!x.done) $scope.todoList.push(x);
            });
        };
        $scope.save = function () {
            if($scope.saved===null){
                localStorage.setItem('juniorSummtodoList',JSON.stringify($scope.todoList));
            }
            else{
                localStorage.setItem('juniorSummtodoList',JSON.stringify($scope.saved));
            }
            console.log($scope.saved);
        };
        $scope.checkboxClick = function (x) {
            x.done = (!x.done);
        };
        $scope.openNav= function () {
            document.getElementById("mySidenav").style.width = "250px";
        };

        /* Set the width of the side navigation to 0 */
        $scope.closeNav = function() {
            document.getElementById("mySidenav").style.width = "0";
        }
    });
</script>
