<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

<body class="fullpage" ng-app="juniorFall" ng-controller="jFallCtrl">
<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" ng-click="closeNav()">&times;</a>
    <a href="sophomore_fall.html">Sophomore Year: Fall</a>
    <a href="sophomore_spring.html">Sophomore Year: Spring</a>
    <a href="sophSummer.html">Summer after Sophomore Year</a>
    <a href="junior_fall.html">Junior Year: Fall</a>
    <a href="college-list.html">College List</a>
    <a href="tips.html">Tips</a>
</div>
<!-- Use any element to open the sidenav -->
<span ng-click="openNav()"><img src="burger.png"></span>

<div id="main">
    <div class="small-header">
        <h2>Fall of your Junior year</h2>
        <h6>August through December</h6>
    </div>

    <!--<form ng-submit="todoAdd()">
        <input type="text" ng-model="todoInput" size="50" placeholder="Add New">
        <input type="submit" value="Add New">
    </form>-->

    <br>

    <div class="border-line" ng-if="saved != null" ng-repeat="x in saved">
        <span ng-if="x.done"> <input  type="checkbox" ng-click="checkboxClick(x)" checked  > <span ng-bind="x.todoText"></span></span>
        <span ng-if="!x.done"> <input  type="checkbox" ng-click="checkboxClick(x)" > <span ng-bind="x.todoText"></span></span>
    </div>

    <div class="border-line" ng-if="saved == null" ng-repeat="x in todoList">
        <span ng-if="x.done"> <input  type="checkbox" ng-click="checkboxClick(x)" checked > <span ng-bind="x.todoText"></span></span>
        <span ng-if="!x.done"> <input  type="checkbox" ng-click="checkboxClick(x)" > <span ng-bind="x.todoText"></span></span>
    </div>


    <p>
        <button class="button-save" ng-click="save()">Save</button>
    </p>





</div>
</body>

<script>
    var app = angular.module('juniorFall', []);
    app.controller('jFallCtrl', function($scope) {
        $scope.saved = JSON.parse(localStorage.getItem('juniorFalltodoList'));
        $scope.todoList = [{todoText:'Meet with your school counselor to discuss colleges and the kinds of courses and grades you need to apply.' +
        ' This will help you develop a list. Choose as many colleges as interest you. Add and remove as your research' +
        'suggests in your College List tab.', done:false},
            {todoText:'Show what you know. Take the PSAT in October to give you valuable test-taking experience. You will want to ' +
            ' take this test now for practice and to establish your eligibility for national-level scholarships. It also will help you have an idea of what the questions and the testing atmosphere are like.' +
            '', done:false},
            {todoText:'Find out when the representatives of colleges you are interested in are coming to your ' +
            ' school or your town. Your school counselor may know these dates, or you can find out on the colleges websites. Find out if you need to sign up' +
            ' or make an appointment for an interview.', done:false},
            {todoText:'Check with your school counselor or look on your preferred', done:false},
            {todoText:'Evaluate your personality, interests and skills. Then explore career opportunities that might match your interests', done:false},
            {todoText:'Talk to friends or relatives who are home from college for the holidays to learn about their college experiences', done:false},
            {todoText:'Attend a college fair in your area and chat with college representatives.', done:false},
            {todoText:'Set up a separate email account specifically for your college search. Remember to check it for periodic' +
            'updates.', done:false}];



        $scope.remove = function() {
            var oldList = $scope.todoList;
            $scope.todoList = [];
            angular.forEach(oldList, function(x) {
                if (!x.done) $scope.todoList.push(x);
            });
        };
        $scope.save = function () {
            if($scope.saved===null){
                localStorage.setItem('juniorFalltodoList',JSON.stringify($scope.todoList));
            }
            else{
                localStorage.setItem('juniorFalltodoList',JSON.stringify($scope.saved));
            }
            console.log($scope.saved);
        };
        $scope.checkboxClick = function (x) {
            x.done = (!x.done);
        };
        $scope.openNav= function () {
            document.getElementById("mySidenav").style.width = "250px";
        };

        /* Set the width of the side navigation to 0 */
        $scope.closeNav = function() {
            document.getElementById("mySidenav").style.width = "0";
        }
    });
</script>


<style>
    .header-text{
        text-align: center;
        color: #F36E21;

    }
    .button-save {
        background-color: dodgerblue;
        border: 1px solid rgba(0, 0, 0, .1);
        border-radius: 10px;
        color: white;
        padding: 16px 32px;
        text-align: center;
        font-size: 30px;
        margin: 4px 2px;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        cursor: pointer;
        margin-top: 30px;
    }
    .small-header {
        border: 1px solid rgba(0, 0, 0, .1);
        border-radius: 10px;
        color: white;
        background-color: #F36E21;
        font-size: large;
        padding-bottom: 10px;
        padding-top: 10px;
        text-align: center;
        margin-bottom: 15px;
        vertical-align: middle;

    }
    .border-line {
        border: 1px solid rgba(0, 0, 0, .1);
        border-radius: 16px;
        padding: 10px;
        margin-bottom: 10px;

    }
    input[type=checkbox]
    {
        /* Double-sized Checkboxes */
        -ms-transform: scale(2); /* IE */
        -moz-transform: scale(2); /* FF */
        -webkit-transform: scale(2.5); /* Safari and Chrome */
        -o-transform: scale(2); /* Opera */
        padding: 10px;
        margin-right: 10px;

    }

    .border-line:hover {
        background-color: white;
    }
    .fullpage{
        background-color: #ecf0f1;
    }
    /* The side navigation menu */
    .sidenav {
        height: 100%; /* 100% Full-height */
        width: 0; /* 0 width - change this with JavaScript */
        position: fixed; /* Stay in place */
        z-index: 1; /* Stay on top */
        top: 0;
        left: 0;
        background-color: #111; /* Black*/
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 60px; /* Place content 60px from the top */
        transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    }

    /* The navigation menu links */
    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.2s
    }

    /* When you mouse over the navigation links, change their color */
    .sidenav a:hover, .offcanvas a:focus{
        color: #f1f1f1;
    }

    /* Position and style the close button (top right corner) */
    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

    /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
    #main {
        transition: margin-left .5s;
        padding: 20px;
    }

    /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
    @media screen and (max-height: 450px) {
        .sidenav {padding-top: 15px;}
        .sidenav a {font-size: 18px;}
    }

</style>