<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

<body ng-app="myApp" ng-controller="todoCtrl">

<h2>Fall of your sophomore year</h2>
<h4>August through December</h4>

<!--<form ng-submit="todoAdd()">
    <input type="text" ng-model="todoInput" size="50" placeholder="Add New">
    <input type="submit" value="Add New">
</form>-->

<br>

<div ng-repeat="x in todoList">
    <p>{{x.done}}</p>
    <span ng-if="x.done"> <input  type="checkbox" ng-click="checkboxClick(x)" checked > <span ng-bind="x.todoText"></span></span>
   <span ng-if="!x.done"> <input  type="checkbox" ng-click="checkboxClick(x)" > <span ng-bind="x.todoText"></span></span>
</div>

<p><button ng-click="remove()">Remove marked</button></p>

<p><button ng-click="save()">Save</button></p>
</body>


<script>
    var app = angular.module('myApp', []);
    app.controller('todoCtrl', function($scope) {
        $scope.saved = localStorage.getItem("todoList");
        $scope.todoList = [{todoText:'Meet with your school counselor about your college plans. ' +
        'Review your course schedule to make sure you are enrolled in challenging courses that will help ' +
        'you prepare for college. Many colleges prefer four years of English, history, math, science and a foreign language.', done:false},
            {todoText:'Find out about the courses and tests required by the colleges that you might be interested in attending', done:false},
            {todoText:'Study hard and keep up your grades in all courses', done:false},
            {todoText:'Get Involved in a few extracurricular activities. Long-term involvement in a couple of areas such as sport and community' +
            '/career-related activity is more valuable than participating briefly in a number of activities. Look for' +
            'leadership roles.', done:false},
            {todoText:'Evaluate your personality, interests and skills. Then explore career opportunities that might match your interests', done:false},
            {todoText:'Talk to friends or relatives who are home from college for the holidays to learn about their college experiences', done:false},
            {todoText:'Attend a college fair in your area and chat with college representatives.', done:true},
            {todoText:'Set up a separate email account specifically for your college search. Remember to check it for periodic' +
            'updates.', done:false}];



        $scope.remove = function() {
            var oldList = $scope.todoList;
            $scope.todoList = [];
            angular.forEach(oldList, function(x) {
                if (!x.done) $scope.todoList.push(x);
            });
        };
        $scope.save = function () {
            JSON.stringify(todoList);
            localStorage.setItem("todoList", str);

        };
        $scope.checkboxClick = function (x) {
              x.done = (!x.done);
              console.log("I see you");
        };
    });
</script>