<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

<body class="fullpage" ng-app="sophomoreSummer" ng-controller="sSummerCtrl">
<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" ng-click="closeNav()">&times;</a>
    <a href="sophomore_fall.html">Sophomore Year: Fall</a>
    <a href="sophomore_spring.html">Sophomore Year: Spring</a>
    <a href="sophSummer.html">Summer</a>
    <a href="college-list.html">College List</a>
</div>
<!-- Use any element to open the sidenav -->
<span ng-click="openNav()"><img src="burger.png"></span>

<h2>Summer after sophomore year</h2>
<h4>January-June</h4>

<!--<form ng-submit="todoAdd()">
    <input type="text" ng-model="todoInput" size="50" placeholder="Add New">
    <input type="submit" value="Add New">
</form>-->

<br>

<div ng-if="saved != null" ng-repeat="x in saved">
    <span ng-if="x.done"> <input  type="checkbox" ng-click="checkboxClick(x)" checked > <span ng-bind="x.todoText"></span></span>
    <span ng-if="!x.done"> <input  type="checkbox" ng-click="checkboxClick(x)" > <span ng-bind="x.todoText"></span></span>
</div>

<div ng-if="saved == null" ng-repeat="x in todoList">
    <span ng-if="x.done"> <input  type="checkbox" ng-click="checkboxClick(x)" checked > <span ng-bind="x.todoText"></span></span>
    <span ng-if="!x.done"> <input  type="checkbox" ng-click="checkboxClick(x)" > <span ng-bind="x.todoText"></span></span>
</div>

<p><button ng-click="save()">Save</button></p>
</body>

<script>
    var app = angular.module('sophomoreSummer', []);
    app.controller('sSummerCtrl', function($scope){
        $scope.saved = JSON.parse(localStorage.getItem('sophSummtodoList'));
        $scope.todoList = [{todoText:'Learn about college costs and how financial aid works. Begin to discuss college costs' +
        'with your parents/guardians', done:false},
            {todoText:'Sign up for college preparatory courses. Consider taking Advanced Placement courses if you qualify. AP courses' +
            'and exams can help you get a head start on college, giving you the opportunity to earn college credit while you are ' +
            'still in high school.', done:false},
            {todoText:'Visit colleges while they are in session', done:false},
            {todoText:'Look for a summer opportunity- a job, volunteer position or internship.', done:false},
            {todoText:'Meet with your school counselor to discuss plans for the summer and your junior year', done:false},
            {todoText:'Set up files to organize information about colleges. Start a calendar to track important dates and deadlines', done:false},
            {todoText:"Contact your area's Vocational Rehabilitation office and set up an interview with a VR counselor to see if you qualify" +
            "for any financial support for summer camp programs and your college education. Learn more about VR at "
                , done:false}];



        $scope.remove = function() {
            var oldList = $scope.todoList;
            $scope.todoList = [];
            angular.forEach(oldList, function(x) {
                if (!x.done) $scope.todoList.push(x);
            });
        };
        $scope.save = function () {
            if($scope.saved===null){
                localStorage.setItem('sophSummtodoList',JSON.stringify($scope.todoList));
            }
            else{
                localStorage.setItem('sophSummtodoList',JSON.stringify($scope.saved));
            }
            console.log($scope.saved);
        };
        $scope.checkboxClick = function (x) {
            x.done = (!x.done);
        };
        $scope.openNav = function () {
            document.getElementById("mySidenav").style.width = "250px";
        };

        /* Set the width of the side navigation to 0 */
        $scope.closeNav = function() {
            document.getElementById("mySidenav").style.width = "0";
        }
    });
</script>

<style>
    .fullpage{
        background-color: #ecf0f1;
    }
    /* The side navigation menu */
    .sidenav {
        height: 100%; /* 100% Full-height */
        width: 0; /* 0 width - change this with JavaScript */
        position: fixed; /* Stay in place */
        z-index: 1; /* Stay on top */
        top: 0;
        left: 0;
        background-color: #111; /* Black*/
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 60px; /* Place content 60px from the top */
        transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    }

    /* The navigation menu links */
    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s
    }

    /* When you mouse over the navigation links, change their color */
    .sidenav a:hover, .offcanvas a:focus{
        color: #f1f1f1;
    }

    /* Position and style the close button (top right corner) */
    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

    /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
    #main {
        transition: margin-left .5s;
        padding: 20px;
    }

    /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
    @media screen and (max-height: 450px) {
        .sidenav {padding-top: 15px;}
        .sidenav a {font-size: 18px;}
    }

</style>