
<!DOCTYPE html>
<html lang = "en">
<head>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <link rel="stylesheet" href="../css/main.css">
</head>
<body class="fullpage" ng-app="sophomoreFall" ng-controller="sFallCtrl">
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" ng-click="closeNav()">&times;</a>
        <a href="index.html">Home</a>
        <a href="sophomore_fall.html">Sophomore Year: Fall</a>
        <a href="sophomore_spring.html">Sophomore Year: Spring</a>
        <a href="sophSummer.html">Summer after Sophomore Year</a>
        <a href="junior_fall.html">Junior Year: Fall</a>
        <a href="">Junior Year: Spring</a>
        <a href="juniorSummer.html">Summer after Junior Year</a>
        <a href="">Senior Year: Fall</a>
        <a href="college-list.html">College List</a>
        <a href="tips.html">Tips</a>
    </div>
<!-- Use any element to open the sidenav -->
    <span ng-click="openNav()"><img src="burger.png"></span>

<div id="main">
    <div class="small-header">
        <h2>Fall of your sophomore year</h2>
        <div class="inside-header">
            <h6>(August through December)</h6>
        </div>
        </div>


    <!--<form ng-submit="todoAdd()">
        <input type="text" ng-model="todoInput" size="50" placeholder="Add New">
        <input type="submit" value="Add New">
    </form>-->

    <br>

    <div class="border-line" ng-if="saved != null" ng-repeat="x in saved">
        <span ng-if="x.done"> <input  type="checkbox" ng-click="checkboxClick(x)" checked  > <span ng-bind="x.todoText"></span></span>
        <span ng-if="!x.done"> <input  type="checkbox" ng-click="checkboxClick(x)" > <span ng-bind="x.todoText"></span></span>
    </div>

    <div class="border-line" ng-if="saved == null" ng-repeat="x in todoList">
        <span ng-if="x.done"> <input  type="checkbox" ng-click="checkboxClick(x)" checked > <span ng-bind="x.todoText"></span></span>
        <span ng-if="!x.done"> <input  type="checkbox" ng-click="checkboxClick(x)" > <span ng-bind="x.todoText"></span></span>
    </div>


    <p>
         <button class="button-save" ng-click="save()">Save</button>
    </p>





</div>
</body>
</html>

<script>
    var app = angular.module('sophomoreFall', []);
    app.controller('sFallCtrl', function($scope) {
        $scope.saved = JSON.parse(localStorage.getItem('sophFalltodoList'));
        $scope.todoList = [{todoText:'Meet with your school counselor about your college plans. ' +
        'Review your course schedule to make sure you are enrolled in challenging courses that will help ' +
        'you prepare for college. Many colleges prefer four years of English, history, math, science and a foreign language.', done:false},
            {todoText:'Find out about the courses and tests required by the colleges that you might be interested in attending', done:false},
            {todoText:'Study hard and keep up your grades in all courses', done:false},
            {todoText:'Get Involved in a few extracurricular activities. Long-term involvement in a couple of areas such as sport and community' +
            '/career-related activity is more valuable than participating briefly in a number of activities. Look for' +
            'leadership roles.', done:false},
            {todoText:'Evaluate your personality, interests and skills. Then explore career opportunities that might match your interests', done:false},
            {todoText:'Talk to friends or relatives who are home from college for the holidays to learn about their college experiences', done:false},
            {todoText:'Attend a college fair in your area and chat with college representatives.', done:false},
            {todoText:'Set up a separate email account specifically for your college search. Remember to check it for periodic' +
            'updates.', done:false}];



        $scope.remove = function() {
            var oldList = $scope.todoList;
            $scope.todoList = [];
            angular.forEach(oldList, function(x) {
                if (!x.done) $scope.todoList.push(x);
            });
        };
        $scope.save = function () {
            if($scope.saved===null){
                localStorage.setItem('sophFalltodoList',JSON.stringify($scope.todoList));
            }
            else{
                localStorage.setItem('sophFalltodoList',JSON.stringify($scope.saved));
            }
            console.log($scope.saved);
        };
        $scope.checkboxClick = function (x) {
              x.done = (!x.done);
        };
        $scope.openNav= function () {
            document.getElementById("mySidenav").style.width = "250px";
        };

        /* Set the width of the side navigation to 0 */
        $scope.closeNav = function() {
            document.getElementById("mySidenav").style.width = "0";
        }
    });
</script>
