<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

<body class="fullpage" ng-app="sophomoreSpring" ng-controller="sSpringCtrl">
<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" ng-click="closeNav()">&times;</a>
    <a href="index.html">Home</a>
    <a href="sophomore_fall.html">Sophomore Year: Fall</a>
    <a href="sophomore_spring.html">Sophomore Year: Spring</a>
    <a href="sophSummer.html">Summer after Sophomore Year</a>
    <a href="junior_fall.html">Junior Year: Fall</a>
    <a href="">Junior Year: Spring</a>
    <a href="juniorSummer.html">Summer after Junior Year</a>
    <a href="">Senior Year: Fall</a>
    <a href="college-list.html">College List</a>
    <a href="tips.html">Tips</a>
</div>
<!-- Use any element to open the sidenav -->
<span ng-click="openNav()"><img src="burger.png"></span>
<div id="main">
    <div class="small-header">
        <h2>Spring of your sophomore year</h2>
        <div class="inside-header">
            <h6>(January-June)</h6>
        </div>
    </div>

<!--<form ng-submit="todoAdd()">
    <input type="text" ng-model="todoInput" size="50" placeholder="Add New">
    <input type="submit" value="Add New">
</form>-->

<br>

<div class="border-line" ng-if="saved != null" ng-repeat="x in saved">
    <span ng-if="x.done"> <input  type="checkbox" ng-click="checkboxClick(x)" checked > <span ng-bind="x.todoText"></span></span>
    <span ng-if="!x.done"> <input  type="checkbox" ng-click="checkboxClick(x)" > <span ng-bind="x.todoText"></span></span>
</div>

<div class="border-line" ng-if="saved == null" ng-repeat="x in todoList">
    <span ng-if="x.done"> <input  type="checkbox" ng-click="checkboxClick(x)" checked > <span ng-bind="x.todoText"></span></span>
    <span ng-if="!x.done"> <input  type="checkbox" ng-click="checkboxClick(x)" > <span ng-bind="x.todoText"></span></span>
</div>


<p>
    <button class="button-save" ng-click="save()">Save</button>
</p>
</div>

</body>


<script>
    var app = angular.module('sophomoreSpring', []);
    app.controller('sSpringCtrl', function($scope){
        $scope.saved = JSON.parse(localStorage.getItem('sophSpritodoList'));
        $scope.todoList = [{todoText:'Learn about college costs and how financial aid works. Begin to discuss college costs' +
        'with your parents/guardians', done:false},
            {todoText:'Sign up for college preparatory courses. Consider taking Advanced Placement courses if you qualify. AP courses' +
            'and exams can help you get a head start on college, giving you the opportunity to earn college credit while you are ' +
            'still in high school.', done:false},
            {todoText:'Visit colleges while they are in session', done:false},
            {todoText:'Look for a summer opportunity- a job, volunteer position or internship.', done:false},
            {todoText:'Meet with your school counselor to discuss plans for the summer and your junior year', done:false},
            {todoText:'Set up files to organize information about colleges. Start a calendar to track important dates and deadlines', done:false},
            {todoText:"Contact your area's Vocational Rehabilitation office and set up an interview with a VR counselor to see if you qualify" +
            "for any financial support for summer camp programs and your college education. Learn more about VR at "
            , done:false}];


        $scope.remove = function() {
            var oldList = $scope.todoList;
            $scope.todoList = [];
            angular.forEach(oldList, function(x) {
                if (!x.done) $scope.todoList.push(x);
            });
        };
        $scope.save = function () {
            if($scope.saved===null){
                localStorage.setItem('sophSpritodoList',JSON.stringify($scope.todoList));
            }
            else{
                localStorage.setItem('sophSpritodoList',JSON.stringify($scope.saved));
            }
            console.log($scope.saved);
        };

        $scope.checkboxClick = function (x) {
            x.done = (!x.done);
        };
        $scope.openNav = function () {
            document.getElementById("mySidenav").style.width = "450px";
        };

        /* Set the width of the side navigation to 0 */
        $scope.closeNav = function() {
            document.getElementById("mySidenav").style.width = "0";
        }
    });
</script>


<style>
    .header-text{
        text-align: center;
        color: #F36E21;

    }
    input[type=checkbox]
    {
        /* Double-sized Checkboxes */
        -ms-transform: scale(2); /* IE */
        -moz-transform: scale(2); /* FF */
        -webkit-transform: scale(2.5); /* Safari and Chrome */
        -o-transform: scale(2); /* Opera */
        padding: 10px;
        margin-right: 10px;

    }
    .border-line {
        border: 1px solid rgba(0, 0, 0, .1);
        border-radius: 16px;
        padding: 10px;
        margin-bottom: 10px;

    }
    .button-save {
        background-color: rgb(0,127,182);
        border: 1px solid rgba(0, 0, 0, .1);
        border-radius: 10px;
        color: white;
        padding: 16px 32px;
        text-align: center;
        font-size: 30px;
        margin: 4px 2px;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        cursor: pointer;
        margin-top: 30px;
    }
    .inside-header{
        border: 1px solid rgba(0, 0, 0, .1);
        color: white;
        background-color: rgb(0,127,182);
        font-size: medium;
        padding-top: 5px;
        text-align: center;
        vertical-align: middle;

    }
    .small-header {
        border: 1px solid rgba(0, 0, 0, .1);
        border-radius: 25px;
        color: white;
        background-color: rgb(247,143,30);
        font-size: large;
        padding-top: 10px;
        text-align: center;
        margin-bottom: 15px;
        vertical-align: middle;

    }

    .border-line:hover {
        background-color: white;
    }

    .fullpage{
        background-color: #ecf0f1;
        font-family: Gill Sans Extrabold, sans-serif;
    }
    /* The side navigation menu */
    .sidenav {
        height: 100%; /* 100% Full-height */
        width: 0; /* 0 width - change this with JavaScript */
        position: fixed; /* Stay in place */
        z-index: 1; /* Stay on top */
        top: 0;
        left: 0;
        background-color: #111; /* Black*/
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 60px; /* Place content 60px from the top */
        transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    }

    /* The navigation menu links */
    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s
    }

    /* When you mouse over the navigation links, change their color */
    .sidenav a:hover, .offcanvas a:focus{
        color: #f1f1f1;
    }

    /* Position and style the close button (top right corner) */
    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

    /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
    #main {
        transition: margin-left .5s;
        padding: 20px;
    }

    /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
    @media screen and (max-height: 450px) {
        .sidenav {padding-top: 15px;}
        .sidenav a {font-size: 18px;}
    }

</style>