<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

<body ng-app="myApp" ng-controller="todoCtrl">

<h2>Spring of your sophomore year</h2>
<h4>January-June</h4>

<!--<form ng-submit="todoAdd()">
    <input type="text" ng-model="todoInput" size="50" placeholder="Add New">
    <input type="submit" value="Add New">
</form>-->

<br>

<div ng-repeat="x in todoList">
    <input type="checkbox" ng-click="checkboxClick(x)" > <span ng-bind="x.todoText"></span>

</div>

<p><button ng-click="remove()">Remove marked</button></p>

<p><button ng-click="save()">Save</button></p>
</body>


<script>
    var app = angular.module('myApp', []);
    app.controller('todoCtrl', function($scope) {
        $scope.saved = localStorage.getItem('todoList');
        $scope.todoList = [{todoText:'Learn about college costs and how financial aid works. Begin to discuss college costs' +
        'with your parents/guardians', done:false},
            {todoText:'Sign up for college preparatory courses. Consider taking Advanced Placement courses if you qualify. AP courses' +
            'and exams can help you get a head start on college, giving you the opportunity to earn college credit while you are ' +
            'still in high school.', done:false},
            {todoText:'Visit colleges while they are in session', done:false},
            {todoText:'Look for a summer opportunity- a job, volunteer position or internship.', done:false},
            {todoText:'Meet with your school counselor to discuss plans for the summer and your junior year', done:false},
            {todoText:'Set up files to organize information about colleges. Start a calendar to track important dates and deadlines', done:false},
            {todoText:"Contact your area's Vocational Rehabilitation office and set up an interview with a VR counselor to see if you qualify" +
            "for any financial support for summer camp programs and your college education. Learn more about VR at "
            , done:false}];

        $scope.todoAdd = function() {
            $scope.todoList.push({todoText:$scope.todoInput, done:false});
            $scope.todoInput = "";
        };

        $scope.remove = function() {
            var oldList = $scope.todoList;
            $scope.todoList = [];
            angular.forEach(oldList, function(x) {
                if (!x.done) $scope.todoList.push(x);
            });
        };
        $scope.save = function () {
            localStorage.setItem('todoList',JSON.stringify(todoList));

        };
        $scope.checkboxClick = function (x) {
            x.done = (!x.done);
        };
    });
</script>